/******************************************************************************
  Blog
*******************************************************************************/
.post {
  .entry-title {
    font-size: 2.25em;
    margin-bottom: 1px;
    
    a {
      border: 0 none;
      font-size: 1em;
      @include transition(opacity);
      
      &:hover {
        border: 0 none;
        opacity: .8;
      }
    }
  }
  .entry-meta {
    color: #a9bbc9;
    font-size: .875em;
    margin-bottom: 25px;
    
    a {
      border: 0 none !important;
      color: #768088;
      font-size: 1em;
      @include transition(opacity);
      
      &:hover {
        opacity: .8;
      }
    }
  }
  .entry-preview {
    margin-bottom: 32px;
    position: relative;
    text-align: center;
    
    .entry-gallery {
      overflow: hidden;
      width: 10000px;
    }
    .prev,
    .next {
      color: #aac0d0;
      left: -30px;
      top: 50%;
      @media (max-width: 800px) {
        background: #fff;
        height: 30px;
        left: 0;
        padding: 5px;
        width: 30px;
      }
      
      body &:hover {
        color: #aac0d0;
      }
      .fa {
        vertical-align: top;
        @media (max-width: 800px) {
          left: 11px !important;
        }
      }
      &:after {
        background: #aac0d0;
        @media (max-width: 800px) {
          display: none;
        }
      }
    }
    .next {
      left: auto;
      right: -30px;
      @media (max-width: 800px) {
        right: 0;
      }
      
      .fa {
        @media (max-width: 800px) {
          left: 11px !important;
          right: auto !important;
        }
      }
    }
  }
  .entry-content {
    color: #777;
    line-height: 1.875;
    margin-bottom: 34px;
    
    blockquote {
      margin-bottom: 40px;
    }
  }
  .entry-more {
    .btn {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &:first-child {
    margin-top: -11px;
  }
  & + .post {
    margin-top: 69px;
  }
}
.col-md-7.content {
  .post {
    .entry-preview {
      margin-left: auto;
      margin-right: auto;
      max-width: 670px;
    }
  }
}
/* Single Post */
.single-post {
  .post {
    margin-top: -15px;
    margin-bottom: 57px;
    
    .entry-title {
      font-size: 3em;
      margin-bottom: 7px;
    }
    .entry-meta {
      margin-bottom: 34px;
    }
    .entry-preview {
      margin-bottom: 43px;
    }
    .entry-content {
      margin-bottom: 36px;
    }
    .shares {
      margin-bottom: 36px;

      a {
        background: #aac0d0;
        border: 0 none !important;
        @include border-r(2px);
        display: block;
        float: left;
        height: 30px;
        margin: 8px 1px 0;
        position: relative;
        @include transition(background);
        width: 30px;
        
        &:hover {
          background: #768088;
          
          label {
            .getshare-counter {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        input {
          display: none;
        }
        label {
          cursor: pointer;
          display: block;
          height: 30px;
          margin: 0;
          width: 30px;
          
          .getshare-text {
            color: #fff;
            display: block;
            font-size: 16px;
            text-align: center;
          }
          .getshare-counter {
            background: #e4ebf1;
            background: rgba(#aac0d0,.3);
            @include border-r(2px);
            bottom: 42px;
            color: #768088;
            font-family: $lato;
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
            left: -4px;
            opacity: 0;
            padding: 5px 3px 6px;
            position: absolute;
            text-align: center;
            transition:
              visibility .2s ease-in-out,
              opacity .2s ease-in-out;
            right: -4px;
            visibility: hidden;
            
            &:before {
              border: 8px solid transparent;
              border-top-color: #e4ebf1;
              border-top-color: rgba(#aac0d0,.3);
              border-left-width: 6px;
              border-right-width: 6px;
              content: "";
              display: block;
              height: 0;
              left: 50%;
              margin-left: -6px;
              position: absolute;
              top: 100%;
              width: 0;
            }
          }
        }
      }
    }
  }
}
/* Comments */
#comments {
  .title {
    font-size: 1.5em;
    margin-bottom: 45px;
    
    small {
      color: #768088;
      font-family: $lato;
      font-size: .66em;
      font-weight: 300;
    }
  }
  .commentlist,
  .commentlist ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .commentlist {
    margin-bottom: 92px;
    
    .comment {
      margin-bottom: 46px;
      
      &:last-child {
        margin-bottom: 0;
      }
      ol {
        margin: 46px 0 0 100px;
        @media (max-width: $media-xs) {
          margin-left: 30px;
        }
      }
      .comment-avatar {
        float: left;
        height: 70px;
        margin: 2px 30px 0 0;
        width: 70px;
        @media (max-width: $media-xs) {
          margin-right: 15px;
        }
        
        img {
          @include border-r(50%);
        }
      }
      .comment-meta {
        color: #768088;
        font-size: .8125em;
        line-height: 1;
        margin-bottom: 12px;
        overflow: hidden;
        
        a {
          font-size: 1em;
          font-weight: 500;
          @include transition(opacity);
          
          &:hover {
            opacity: .8;
          }
        }
        .comment-reply-link {
          margin-left: 18px;
        }
      }
      p {
        overflow: hidden;
      }
    }
  }
  #respond {
    .form-group {
      margin-bottom: 9px;
    }
    .name {
      float: left;
      padding-right: 4px;
      width: 50%;
      @media (max-width: $media-xs) {
        float: none;
        padding: 0;
        width: 100%;
      }
    }
    .email {
      float: left;
      padding-left: 4px;
      width: 50%;
      @media (max-width: $media-xs) {
        float: none;
        padding: 0;
        width: 100%;
      }
    }
    .comment {
      margin-bottom: 19px;
      
      textarea {
        height: 90px;
      }
    }
  }
}